body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #a1e0fd;
}

canvas {
  border: 5px solid white;
  display: block;

  //* Kanva pielāgojas ierīcei, saglabājot proporciju */
  max-width: 95vw;       //* neplatāka par ~ekrānu */
  max-height: 90dvh;     //* neaugstāka par ~ekrānu (mobilajos drošāk nekā vh) */
  width: auto;
  height: auto;

}
